body {
  background: #111;
  touch-action: none;
}

#view {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
}

#quick-settings {
  position: fixed;
  top: 5px;
  right: 170px;
  right: 205px;
}